@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contact Us</h1>
<a href="https://www.bing.com/ck/a?!&&p=42963b8b61fe6b981e71a3256dce57ddb772f74494c02dcf9ace5dd3e623af3bJmltdHM9MTY1ODc0MTA0OSZpZ3VpZD05NDRiNDQ3Yi1iY2U3LTQwMmQtYjQyMy0wNDFiMWU5MmEyYzgmaW5zaWQ9NTE3Ng&ptn=3&fclid=8985bea9-0bfb-11ed-9864-9c1ca190dc74&u=a1aHR0cHM6Ly93d3cuZmlzZ2xvYmFsLmNvbS8&ntb=1">Website</a>
<a href="https://www.facebook.com/FIStoday/">Facebook</a>
<a href="https://www.linkedin.com/company/fis-global">LinkedIn</a>