@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Department Details
</h1>

<table>
    <tr>
        <td>Dept name : </td>
    </tr>
    <tr>
        <td>IT</td>
    </tr><tr>
        <td>ADMIN</td>
    </tr>
</table>