@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Employee Details
</h1>

<table>
    <tr>
        <td>Emp id : </td>
        <td>Emp name : </td>
        <td>Emp job : </td>
        <td>Emp salary : </td>
        <td>Emp deptNo : </td>
    </tr>
    <tr>
        <td>01 </td>
        <td>Richa</td>
        <td>SDE</td>
        <td>40000</td>
        <td>02</td>
    </tr>
    <tr>
        <td>02 </td>
        <td>Scott</td>
        <td>Finance</td>
        <td>32000</td>
        <td>03</td>
    </tr>
    <tr>
        <td>03 </td>
        <td>Sam</td>
        <td>HR</td>
        <td>34000</td>
        <td>04</td>
    </tr>
</table>